.venv/
.idea/
ecommerce/ecommerce/__pycache__/
ecommerce/store/__pycache__/
ecommerce/store/migrations/__pycache__/
ecommerce/cart/__pycache__/
ecommerce/cart/migrations/__pycache__/
ecommerce/account/__pycache__/
ecommerce/account/migrations/__pycache__/
.DS_Store