{% include "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    body {
        background-color: gray;
    }
</style>

<br>
<div class="container bg-white shadow-md p-5 form-layout">
    <h4>Hello {{ user }}!</h4>
    <hr>
    <br>
    <p>
        Welcome to your dashboard page
        <br>
        Here you could do the following:
    </p>
    <ul>
        <li>Track your orders</li>
        <li>Manage shipping</li>
        <li>Manage your account</li>
    </ul>
    <a class="btn btn-primary navbar-btn text-white" type="button"  href="#">
        My orders
    </a>
    <br>
    <br>
    <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'manage-shipping' %}">
        Shipping
    </a>
    <br>
    <br>
    <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'my-profile' %}">
        Settings
    </a>
</div>

{% endblock %}
